/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #d3e6ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

p {
  text-align: center;
  color: #ff6347;
  font-size: 1.1rem;
}

/* Estilos para los botones de las pestañas */
button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button.active {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

/* Estilos para el formulario de cuenta */
div {
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #333;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

/* Estilo para la lista de movimientos */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}

li:last-child {
  border-bottom: none;
}

/* Estilos para el contenedor de las pestañas */
div.pestanas-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.pestanas-container button {
  width: 48%;
}

/* Contenedor de contenido */
div.pestana-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.App img{
  justify-self: center;
  align-self: center;
}


